/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        arst {
            bindings = <&kp ENTER>;
            key-positions = <16 15 14 13>;
        };

        qw {
            bindings = <&sk LEFT_META>;
            key-positions = <1 2>;
        };

        wf {
            bindings = <&sk LCTRL>;
            key-positions = <2 3>;
        };

        fp {
            bindings = <&sk LEFT_ALT>;
            key-positions = <3 4>;
        };
    };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };
        ctrlaltmeta: ctrlaltmeta {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRLALTMETA";
            #binding-cells = <0>;
            bindings =
                <&sk LCTRL>,
                <&sk LALT>,
                <&sk LEFT_WIN>;
        };
        layers: layers {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYERS";
            #binding-cells = <0>;
            bindings =
                <&mo 1>,
                <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base-left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
       &kp TAB  &ht NUMBER_1 Q  &ht NUMBER_2 W      &ht NUMBER_3 F  &ht NUMBER_4 P  &ht NUMBER_5 G    &none  &none  &none  &none  &none  &none
      &kp BSPC           &kp A           &kp R               &kp S           &kp T           &kp D    &none  &none  &none  &none  &none  &none
&sk LEFT_SHIFT      &ht NUBS Z      &ht NUHS X  &ht SINGLE_QUOTE C     &ht MINUS V     &ht EQUAL B    &none  &none  &none  &none  &none  &none
                                                             &mo 2           &mo 1       &kp SPACE    &none  &none  &none
            >;
        };

        base-right {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
   &kp ESC       &ht NUMBER_0 SEMI            &ht NUMBER_9 Y   &ht NUMBER_8 U  &ht NUMBER_7 L     &ht NUMBER_6 J     &none   &none   &none   &none   &none   &none
&kp DELETE                   &kp O                     &kp I            &kp E           &kp N              &kp H     &none   &none   &none   &none  &trans  &trans
    &trans  &ht LEFT_BRACKET SLASH  &ht RIGHT_BRACKET PERIOD  &ht GRAVE COMMA     &ht UNDER M  &ht KP_MULTIPLY K    &trans  &trans  &trans  &trans  &trans  &trans
                                                                       &trans          &trans             &trans     &none  &trans   &none
            >;
        };

        navigation {
            bindings = <
  &kp INS   &kp HOME     &kp PG_UP   &kp PG_DN     &kp END       &none    &none  &none  &none  &none  &none  &none
 &kp CAPS   &kp LEFT  &kp UP_ARROW    &kp DOWN   &kp RIGHT       &none    &none  &none  &none  &none  &none  &none
&ht F7 F1  &ht F8 F2     &ht F9 F3  &ht F10 F4  &ht F11 F5  &ht F12 F6    &none  &none  &none  &none  &none  &none
                                        &trans      &trans      &trans    &none  &none  &none
            >;
        };
    };
};
