/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// dt-formatter: indent = "  "
// dt-formatter: reindentMultilineIntegerCells = "dedent"

/ {
  behaviors {
    llayers: llayers {
      compatible = "zmk,behavior-tap-dance";
      label = "LLAYERS";
      #binding-cells = <0>;
      bindings = <&mo 0>, <&mo 0>, <&tog 0>;
    };
    rlayers: rlayers {
      compatible = "zmk,behavior-tap-dance";
      label = "RLAYERS";
      #binding-cells = <0>;
      bindings = <&mo 0>;
    };
    lmods: lmods {
      compatible = "zmk,behavior-tap-dance";
      label = "LMODS";
      #binding-cells = <0>;
      bindings = <&sk LCTRL>, <&sk LEFT_ALT>;
    };
    rmods: rmods {
      compatible = "zmk,behavior-tap-dance";
      label = "RMODS";
      #binding-cells = <0>;
      bindings = <&sk RCTRL>, <&sk LEFT_META>;
    };
  };

  combos {
    compatible = "zmk,combos";

    capslock {
      bindings = <&kp CAPS>;
      key-positions = <24 35>;
    };

    lctrl {
      bindings = <&sk LCTRL>;
      key-positions = <25 26>;
    };

    lmeta {
      bindings = <&sk LEFT_META>;
      key-positions = <26 27>;
    };

    lalt {
      bindings = <&sk LALT>;
      key-positions = <27 28>;
    };

    rctrl {
      bindings = <&sk RCTRL>;
      key-positions = <33 34>;
    };

    rmeta {
      bindings = <&sk RIGHT_META>;
      key-positions = <33 32>;
    };

    ralt {
      bindings = <&sk RIGHT_ALT>;
      key-positions = <32 31>;
    };

    l5 {
      bindings = <&sl 0>;
      key-positions = <36 40 41 37>;
    };
  };

  macros {
  };

  keymap {
    compatible = "zmk,keymap";

    base {
      bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A    &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A    &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A    &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
                     &kp A  &kp A  &kp A    &kp A  &kp A  &kp A
      >;
    };
  };
};
