/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        home-row-smash {
            bindings = <&kp ENTER>;
            key-positions = <16 15 14 13>;
        };
    };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "HT";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
        };
        scaps: scaps {
            compatible = "zmk,behavior-tap-dance";
            label = "SCAPS";
            #binding-cells = <0>;
            bindings =
                <&sk LEFT_SHIFT>,
                <&kp CAPS>;
        };
        ctrlaltwin: ctrlaltwin {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRLALTWIN";
            #binding-cells = <0>;
            bindings =
                <&sk LCTRL>,
                <&kp LALT>,
                <&kp LEFT_WIN>;
        };
        layers: layers {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYERS";
            #binding-cells = <0>;
            bindings =
                <&mo 1>,
                <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base-left {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
       &kp TAB  &ht NUMBER_1 Q  &ht NUMBER_2 W      &ht NUMBER_3 F  &ht NUMBER_4 P  &ht NUMBER_5 G    &none  &none  &none  &none  &none  &none
      &kp BSPC           &kp A           &kp R               &kp S           &kp T           &kp D    &none  &none  &none  &none  &none  &none
&sk LEFT_SHIFT      &ht NUBS Z     &ht GRAVE X  &ht SINGLE_QUOTE C     &ht MINUS V     &ht EQUAL B    &none  &none  &none  &none  &none  &none
                                                       &ctrlaltwin         &layers       &kp SPACE    &none  &none  &none
            >;
        };

        base-right {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
   &kp ESC  &ht NUMBER_0 SEMI           &ht NUMBER_9 Y           &ht NUMBER_8 U    &ht NUMBER_7 L     &ht NUMBER_6 J     &none   &none   &none   &none   &none   &none
&kp DELETE              &kp O                    &kp I                    &kp E             &kp N              &kp H     &none   &none   &none   &none  &trans  &trans
    &trans     &ht NUBS SLASH  &ht LEFT_BRACKET PERIOD  &ht RIGHT_BRACKET COMMA  &ht LEFT_BRACE M  &ht RIGHT_BRACE K    &trans  &trans  &trans  &trans  &trans  &trans
                                                                         &trans            &trans             &trans     &none  &trans   &none
            >;
        };

        navigation {
            bindings = <
    &none      &none  &kp PG_DN      &kp UP   &kp PG_UP     &kp INS    &none  &none  &none  &none  &none  &none
 &kp CAPS   &kp HOME   &kp LEFT    &kp DOWN   &kp RIGHT     &kp END    &none  &none  &none  &none  &none  &none
&ht F7 F1  &ht F8 F2  &ht F9 F3  &ht F10 F4  &ht F11 F5  &ht F12 F6    &none  &none  &none  &none  &none  &none
                                     &trans      &trans      &trans    &none  &none  &none
            >;
        };
    };
};
