/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        label = "LEFT_ENCODER";
        a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        label = "RIGHT_ENCODER";
        a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <20>;
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        mtd: mtd {
            compatible = "zmk,behavior-tap-dance";
            label = "Mod-Tap-Dance";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&mo 3>, <&mo 5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        qwerty {
            bindings = <&tog 6>;
            key-positions = <57 58 59>;
        };

        L_ENTER {
            bindings = <&kp ENTER>;
            key-positions = <14 15>;
        };

        R_SPACE {
            bindings = <&kp SPACE>;
            key-positions = <20 21>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "Base ⬍";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESCAPE  &kp N1  &kp N2     &kp N3        &kp N4    &kp N5                              &kp N6  &kp N7    &kp N8         &kp N9             &kp N0    &kp MINUS
&kp TAB     &kp Q   &kp W      &kp F         &kp P     &kp G                               &kp J   &kp L     &kp U          &kp Y              &kp SEMI  &kp GRAVE
&kp BSPC    &kp A   &kp R      &kp S         &kp T     &kp D                               &kp H   &kp N     &kp E          &kp I              &kp O     &kp SINGLE_QUOTE
&kp LSHFT   &kp Z   &kp X      &kp C         &kp V     &kp B   &tog 4         &kp C_MUTE   &kp K   &kp M     &kp COMMA      &kp DOT            &kp FSLH  &kp RSHFT
                    &kp LCTRL  &kp LEFT_WIN  &kp LALT  &mtd    &lt 1 SPACE    &lt 1 ENTER  &mtd    &kp RALT  &kp RIGHT_WIN  &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN>;
        };

        mirrored {
            bindings = <
&kp MINUS  &kp N0    &kp N9     &kp N8     &kp N7    &kp N6                      &kp N5  &kp N4    &kp N3    &kp N2     &kp N1  &kp ESC
&kp GRAVE  &kp SEMI  &kp Y      &kp U      &kp L     &kp J                       &kp G   &kp P     &kp F     &kp W      &kp Q   &kp TAB
&kp SQT    &kp O     &kp I      &kp E      &kp N     &kp H                       &kp D   &kp T     &kp S     &kp R      &kp A   &kp BSPC
&kp RSHFT  &kp FSLH  &kp DOT    &kp COMMA  &kp M     &kp K   &kp BSPC    &kp V   &kp B   &kp V     &kp C     &kp X      &kp Z   &kp LSHFT
                     &kp RCTRL  &kp RGUI   &kp RALT  &trans  &trans      &trans  &trans  &kp LALT  &kp LGUI  &kp LCTRL
            >;

            label = "Mirrored";
        };

        mod_a {
            bindings = <
&kp EQUAL        &kp LBKT  &kp RBKT   &trans    &trans         &trans                      &kp F10             &kp F11             &kp F12             &trans           &trans         &trans
&kp NON_US_HASH  &mkp MB4  &mkp MB2   &mkp MB3  &mkp MB1       &mkp MB5                    &mt F7 KP_NUMBER_7  &mt F8 KP_NUMBER_8  &mt F9 KP_NUMBER_9  &kp KP_ASTERISK  &kp KP_DIVIDE  &kp KP_NUMLOCK
&kp DELETE       &kp INS   &kp PG_UP  &kp UP    &kp PAGE_DOWN  &kp HOME                    &mt F4 KP_NUMBER_4  &mt F5 KP_NUMBER_5  &mt F6 KP_NUMBER_6  &kp KP_PLUS      &kp KP_MINUS   &kp DEL
&trans           &kp BSLH  &kp LEFT   &kp DOWN  &kp RIGHT      &kp END   &trans    &trans  &mt F1 KP_NUMBER_1  &mt F2 KP_NUMBER_2  &mt F3 KP_NUMBER_3  &kp KP_DOT       &kp KP_EQUAL   &trans
                           &trans     &trans    &trans         &trans    &trans    &trans  &trans              &kp KP_NUMBER_0     &trans              &trans
            >;

            label = "Mod A";
        };

        mod_b {
            label = "Mod B";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans          &trans           &trans           &kp F10             &kp F11             &kp F12                               &trans         &trans    &trans     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL
&kp KP_NUMLOCK  &kp KP_DIVIDE    &kp KP_MULTIPLY  &mt F7 KP_NUMBER_7  &mt F8 KP_NUMBER_8  &mt F9 KP_NUMBER_9                    &mkp MB4       &mkp MB1  &mkp MCLK  &mkp RCLK         &mkp MB5           &kp NON_US_HASH
&kp DELETE      &kp KP_SUBTRACT  &kp KP_PLUS      &mt F4 KP_NUMBER_4  &mt F5 KP_NUMBER_5  &mt F6 KP_NUMBER_6                    &kp PG_UP      &kp HOME  &kp UP     &kp END           &kp INS            &kp DELETE
&trans          &kp KP_EQUAL     &kp KP_DOT       &mt F1 KP_NUMBER_1  &mt F2 KP_NUMBER_2  &mt F3 KP_NUMBER_3  &trans    &trans  &kp PAGE_DOWN  &kp LEFT  &kp DOWN   &kp RIGHT         &kp NUBS           &trans
                                 &trans           &trans              &kp KP_N0           &trans              &trans    &trans  &trans         &trans    &trans     &trans
            >;
        };

        left-encoder-alt {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
            label = "Base ⬌";
        };

        macro {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "Macro";
        };

        qwerty {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans     &trans   &trans    &trans
&trans  &kp Q   &kp W   &kp E   &kp R   &kp T                     &kp Y   &kp U   &kp I      &kp O    &kp P     &trans
&trans  &kp A   &kp S   &kp D   &kp F   &kp G                     &kp H   &kp J   &kp K      &kp L    &kp SEMI  &trans
&trans  &kp Z   &kp X   &kp C   &kp V   &kp B   &trans    &trans  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans     &trans
            >;

            label = "QWERTY";
        };
    };
};
