/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A    &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
              &kp A  &kp A  &kp A  &kp A  &kp A    &kp A  &kp A  &kp A  &kp A  &kp A
            >;

            sensor-bindings = <&inc_dec_kp A A>, <&inc_dec_kp A A>;
        };
    };
};
